@media (max-width: 600px) {
    body {      
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        body header{           
            padding:8%;
            padding-bottom: 0;                 
        }
            body header img{
                display: inline-block;
                margin-left: 20%;
                width: 60%;
                height: 30%;
            }
        body #Resumo{                              
        }        
            body #Resumo h2{
                text-align: center;
                border-bottom: 4px solid #999;
            }
        body #skills{                       
        }   
            body #skills h2{
                text-align: center;
                border-bottom:2px solid #000;
            } 
        body  #exp{            
        }   
            body #exp h2{
                text-align: center;
                border-bottom:4px solid #999;
            }
                body #exp p{                    
                    display: flex;
                    justify-content: space-around;
                }
            body #exp nav{                               
                display: flex;
                flex-direction: column;                
                padding:2%;
            }    
                body #exp a{
                    display: inline-block;
                    margin: 3%;
                    font-weight: 800;
                }
        body #estudos{           
        }   
            body #estudos h2{
                text-align: center;
                border-bottom:2px solid #000;
            }   
                body #estudos p {
                    text-align: left;
                    font-weight: 800;
                }  
}

npm install --save normalize.css

